@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-console:before {
    content: "\e254";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.glyphicon-menu-up:before {
    content: "\e260";
}

.glyphicon-menu-down:before {
    content: "\e259";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-triangle-right:before {
    content: "\e250";
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
}